<header class="p-3 bg-white text-white" >
    <div class="container" >
      <div  class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
 

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">
              <img src="../../assets/images/logo.png" width="70">
          </a></li>
        </ul>

      

        <div class="text-end">
          <a  href=""  (click)="redirect()"> <span class="me-2 text-login text-white">Login</span></a>
          <span class="me-2 text-white">|</span>
          <a  href=""  (click)="redirect()"> <span class="me-2 text-login text-white">Register</span></a>
          <button type="button" (click)="redirect()" class="btn btn-primary-custom">Sell</button>
        </div>
      </div>
    </div>
  </header>