.btn-primary-custom{
    /*  background-color: #0B7AFF; */
     background-color: #4DB319;
     color : white;
  }
 
  .text-login{
     font-weight: 100;
     font-size: 13px;
    
  }
 
  .text-white {
    color : black!important;
  }

 a{
     text-decoration: none!important;
     cursor: pointer;
  }



  .text-white:hover{
     color: #0B7AFF!important;
  }