.bg-custom{
   background-color: #0B7AFF; 
    /* background-color: #4DB319;*/
}

.text-green{
    color: #4DB319;
}

.text-100{
    font-weight: 100!important;
}
.product-tilte{
    margin-bottom: 0.7rem;
    font-weight: 100;
   
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.5em;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0.25rem;
    margin-top: 7px;
}

.cat-img{
    vertical-align: middle;
    width: 25px;
    border-radius: 5px;
    margin-right: 5px;
}
.cat-title{
    font-size: .8rem!important;
    font-weight: 100!important;
    text-transform:capitalize;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .new-post{
        height: auto;
        padding: 16px!important;
    }
}

.hand{
    cursor: pointer;
 }

.new-post{
    height: auto;
    padding: 40px;
}
.add-post{
    font-size: 1.2vw!important;
    text-align: center;
    padding-top: 10px;
}

.product-price{
    margin-bottom: 0.7rem;
    font-weight: 100;
    color :  #4DB319;
    margin-top: -40px!important;
}

.img-center-v{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}

.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%!important;
    height : 150px!important;
}
.pp{
    padding-top: 25px;
    padding-bottom: 25px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}



.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    padding-left : 15px;
    padding-right: 15px;
}


.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #0B7AFF
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #0B7AFF;
    margin-right: 15px;
}

.img-book{
    width: 15px !important;
}