<section class="py-5 text-center  bg-custom">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-6 pp">
        <p class="text-white text-100">Find anything</p>
          <div class="search"> <i class="fa fa-search"></i> <input [(ngModel)]="searchValue" (keyup)="filterList()" type="text" class="form-control" placeholder="I'm looking for ..." > <button class="text-100 btn btn-primary" (click)="filterList()">Search</button> </div>
      </div>
  </div>
</section>

  <!-- home content -->
<div class="album py-3 bg-light">
    <div class="container">


        


      <div class="row">
          <div class="col-sm-3 col-md-3 mb-3">
            <div class="list-group" >
              <a  class="text-100 list-group-item list-group-item-action active">
                Categories
              </a>
              <a  (click)="goToCategory(category.title)" *ngFor="let category of categories;" class="hand list-group-item list-group-item-action">
              <!--   <img src="../../assets/images/vehicles.png" class="cat-img" alt="...">  -->
                <span class="cat-title">{{replace(category.title)}}</span>  
                <span class="badge rounded-pill bg-primary float-end">{{category.qte}}</span>
              </a>
          </div>
          </div>
          <div class="col-sm-9 col-md-9">
            <!-- For slider and post add button -->
            <div class="row">
              <div class="col-8 col-sm-8">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../assets/images/slider1.svg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/images/slider1.svg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../assets/images/slider1.svg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div class="col-4 col-sm-4">
                  <div class="col">
                    <div (click)="findOs()" class="hand card new-post shadow-sm">
                      <img src="../../assets/images/plus.svg"  alt="Add post"  class="img-center-v" />
                      <p class="card-text add-post">Post add</p>
                    </div>
                  </div>
              </div>
            </div>
            <!-- For products -->
            <div class="py-3">
              <h6 class="fw-light">Popular products</h6>
              <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-3">
               
                <div class="col" (click)="goToProduct(item.id)" *ngFor="let item of items.slice(0, 28);">
                  <div class="hand card shadow-sm">
                    <img [src]="item.photos[0]"  alt="Add post"  class="card-img-top img-center" />
                    <div class="card-body">
                      <div class="justify-content-between align-items-center">
                        <div class="">
                          <p class="card-text product-title">{{ shorten(item.details.title, 25)}}</p><br/>
                          <p class="card-text product-price">{{format(item.details.price)}} {{item.currency}}</p>
                          <p class="card-text" style="font-size:10px!important; text-transform: capitalize;">{{format(item.details.citie)}}<br/> {{item.details.locality}}</p>
                        </div>
                       <!--  <img src="../../assets/images/bookmark.svg"  alt="Add post"  class="img-book" /> -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white; font-size: 25px; text-align: center;" > Please wait <br/>Loading... </p></ngx-spinner>

